$trans-time:300ms;

.transition-container{
  position: relative;
}

.default-enter {
  opacity: 0.01;
  &.default-enter-active {
    opacity: 1;
    transition: opacity $trans-time ease-in;
  }
}

.default-leave {
  opacity: 1;
  position: absolute;
  top:0;
  width:100%;
  &.default-leave-active {
    opacity: 0.01;
    transition: opacity $trans-time ease-in;
  }

}

.default-appear {
  opacity: 0.01;
  &.default-appear-active {
    opacity: 1;
    transition: opacity $trans-time ease-in;
  }
}

.sweep-enter {
  left: -1000px;
  position: relative;
  &.sweep-enter-active {
    left: 0;
    transition: left $trans-time ease-in;
  }
}

.sweep-leave {
  left: 0;
  position: absolute;
  top:0;
  width:100%;
  &.sweep-leave-active {
    left: 1000px;
    transition: left $trans-time ease-in;
  }

}

.sweep-appear {
  opacity: 0.01;
  &.sweep-appear-active {
    opacity: 1;
    transition: opacity $trans-time ease-in;
  }
}

.force-right{

  .sweep-enter {
    left: 1000px;
    position: relative;
    &.sweep-enter-active {
      left: 0;
      transition: left $trans-time ease-in;
    }
  }

  .sweep-leave {
    left: 0;
    position: absolute;
    top:0;
    width:100%;
    &.sweep-leave-active {
      left: -1000px;
      transition: left $trans-time ease-in;
    }

  }
  .sweep-appear {
    left: 1000px;
    position: relative;
    &.sweep-appear-active {
      left: 0;
      transition: left $trans-time ease-in;
    }
  }


}

